doctype html
head
  meta(charset="utf-8")
  title Learn JS fam
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", 
       integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  link(rel="stylesheet", href="/style.css")
body  
  .content-wrap 
    .sidebar
      h2 chat app
      h3 users online: 0 :(
      ul.who-online
        li <a onclick="mention(this.innerHTML);", href="#">datboi</a> - since 11:03 am
        li <a onclick="mention(this.innerHTML);", href="#">skiddy_steve</a> - since 9:31 pm

    .chat-window
      .messages
        ul#messages
          li#no-messages <em>no messages to show :(</em>

      form(action="").message-box
        input(placeholder="type message here", autocomplete="off")#text-box
        button.send send
      
  script(src="/socket.io/socket.io.js", charset="utf-8")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(src="/main.js")
